@import "tailwindcss";

@theme inline {
  --font-sans: "Inter", Arial, Helvetica, sans-serif;
}

body {
  background: #f3f4f6; /* Tailwind gray-100 */
  color: #333333;
}

/* Hide elements when downloading image */
.hide-for-download .print\:hidden {
  display: none !important;
}

/* Hide print elements */
@media print {
  .print\:hidden {
    display: none !important;
  }
  .print\:shadow-none {
    box-shadow: none !important;
  }
  .print\:p-0 {
    padding: 0 !important;
  }
}
